
.typingEffect h1 {
  /* display: flex; */
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid;
  border-color: var(--primary-color);
  letter-spacing: .10em;
  animation: typing 6s steps(22, end) infinite, blink 0.85s step-end infinite;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  80% { width: 100%; }
  100% { width: 0; }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: var(--primary-color); }
}

.introduction > b {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 4px 6px;
}