.primary-link {
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  text-align: center;
}

.gradient1 {
  background: linear-gradient(55.58deg, #FF338F 9.41%, #F6AE13 87.82%);
}