/* animation progress */
.shadowPopBl {
	-webkit-animation: shadowPopBl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadowPopBl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadowPopBl {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(-15px);
    transform: scale(1.2);

  }
}
@keyframes shadowPopBl {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(-15px);
    transform: scale(1.2);
  }
}
