
.rotatingHeadline {
  position: relative;
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.rotatingHeadline p{
  padding-top: 10px;
  padding-bottom: 10px;
	position: absolute;
	opacity: 0;
	overflow: hidden;
  border-bottom: 4px solid transparent;
  line-height: 1;
	-webkit-animation: rotateWord 15s ease-in-out infinite 0s;
	-ms-animation: rotateWord 15s ease-in-out infinite 0s;
	animation: rotateWord 15s ease-in-out infinite 0s;
}
.rotatingHeadline p:nth-child(2) {
    -webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.rotatingHeadline p:nth-child(3) {
    -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
.rotatingHeadline p:nth-child(4) {
  -webkit-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
}
.rotatingHeadline p:nth-child(5) {
  -webkit-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
}

/* --quaternary-color */

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { border-bottom-color: transparent; opacity: 0; -webkit-transform: translateY(30px); }
	5% { border-bottom-color: transparent; opacity: 1; -webkit-transform: translateY(0px);}
  21% { border-bottom-color: transparent; opacity: 1; -webkit-transform: translateY(0px); }
	23% { border-bottom-color: transparent; opacity: 0; -webkit-transform: translateY(-30px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { border-bottom-color: transparent; opacity: 0; -ms-transform: translateY(30px); }
	5% { border-bottom-color: transparent; opacity: 1; -ms-transform: translateY(0px);}
  21% { border-bottom-color: transparent; opacity: 1; -ms-transform: translateY(0px); }
	23% { border-bottom-color: transparent; opacity: 0; -ms-transform: translateY(-30px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { border-bottom-color: transparent; opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	5% { border-bottom-color: transparent; opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  21% { border-bottom-color: transparent; opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	23% { border-bottom-color: transparent; opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
